{% extends "base/document.html" %}
{% load crispy_forms_tags %}
{% block title %}
  {% trans "Category list" %}
{% endblock %}
{% block content %}
  <h1>{% trans "Category list" %}</h1>
  {% include 'canteen/includes/_canteen_navigation.html' %}
  <div class="d-flex justify-content-end pt-2">
    <a class="btn btn-primary"
       onclick="open_small_window('{% url 'canteen:create_category' %}'); return false;">{% trans "Add" %}</a>
  </div>
  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>
          {% blocktrans with categories_len=categories|length %}
            ({{ categories_len }})
          {% endblocktrans%}
        </th>
        <th>{% trans "Category Name" %}</th>
        <th>{% trans "Abbreviation" %}</th>
        <th>{% trans "Ingredients Count" %}</th>
        <th>{% trans "Created at" %}</th>
        <th>{% trans "Pin to consumptions top" %}</th>
        <th>{% trans "Priority" %}</th>
        <th>{% trans "Is Disabled" %}</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.abbreviation_t }}</td>
          <td class="ingredients-td"
              style="cursor: pointer"
              data-category_id="{{ category.id }}">
            <span class="link-success">{{ category.ingredients_count }}</span>
          </td>
          <td>{{ category.created_at|date:"Y-m-d" }}</td>
          <td>
            {% if category.pin_to_consumptions_top %}
              {% trans "Yes" %}
            {% endif %}
          </td>
          <td>{{ category.priority|default_if_none:'0' }}</td>
          <td>
            {% if category.is_disabled %}
              {% trans "Yes" %}
            {% endif %}
          </td>
          <td>
            <a class="text-primary"
               target="_blank"
               onclick="open_small_window('{% url 'canteen:update_category' category.id %}'); return false; ">{% trans "Edit" %}</a>
            |
            <a class="text-danger"
               onclick="open_small_window('{% url 'canteen:delete_category' category.id %}'); return false; "
               target="_blank">{% trans "Delete" %}</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">{% trans "No categories yet." %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    var list_ingredients_search_params_cookie_name = "list_ingredients"
    $(document).ready(function() {
      $('.ingredients-td').on('click', function() {
        var category_id = $(this).data("category_id")
        set_search_params_from_cookie("canteen/list_ingredients", "category", category_id)
        window.open("{% url 'canteen:list_ingredients' %}", "canteen__list_ingredients")
      });
    });
  </script>
  {% include "includes/_paginator.html" %}
{% endblock %}
