{% extends 'base/document.html' %}
{% block content %}
  <h1>
    {% blocktrans with user_name=fn_profile.user.username %} Hello, {{ user_name }}!
  {% endblocktrans %}
  </h1>
  <p>Phone: {{ fn_profile.phone }}</p>
  <p>Date of Birth: {{ fn_profile.date_of_birth }}</p>
  <p>Affiliation: {{ fn_profile.affiliation }}</p>
  <p>Superior Department: {{ fn_profile.superior_department }}</p>
  <p>Date of Birth: {{ fn_profile.date_of_birth }}</p>
  <p>Address: {{ fn_profile.address }}</p>
  {% if fn_profile.avatar %}
    <img src="{{ fn_profile.avatar.url }}" alt="Avatar" />
  {% endif %}
{% endblock %}
