<!DOCTYPE html>
{% load i18n static %}
{% load crispy_forms_tags %}
{% load fnschool_tags %}
<html>
  <head>
    <title>
      {% block title %}
        {% trans "FNSCHOOL" %}
      {% endblock %}
    </title>
    <link rel="icon"
          href="{% static 'public/favicon.ico' %}"
          type="image/x-icon" />
    <link href="{% static '_node_modules_/bootstrap/_dist_/css/bootstrap.min.css' %}"
          rel="stylesheet" />
    <link href="{% static 'src/assets/css/main.css' %}" rel="stylesheet" />

    <script src="{% static '_node_modules_/bootstrap/_dist_/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '_node_modules_/jquery/_dist_/jquery.min.js' %}"></script>
    <script src="{% static '_node_modules_/@popperjs/core/_dist_/umd/popper.min.js' %}"></script>
    <script src="{% static 'src/fnschool/main.js' %}"></script>
    {% include 'base/_js.html' %}
    {% include 'base/_css.html' %}
  </head>
  <body>
    <header class="fixed-top">
      {% include 'includes/_header.html' %}
    </header>
    <main class="container" data-bs-scroll="true" data-bs-backdrop="false">
      {% block content %}{% endblock %}
    </main>
    <footer class="py-3 bg-dark fixed-bottom">
      {% include 'includes/_footer.html' %}
    </footer>
    {% block extra_js %}{% endblock %}
  </body>
</html>

{# The end. #}
