{% extends "base/header_content_footer.html" %}
{% load crispy_forms_tags %}
{% block title %}
  {% trans "Consume Ingredients" %}
{% endblock %}
{% block content %}
  <h1>{% trans "Consume Ingredients." %}</h1>
  <hr>
  <div class="table table-responsive table-container">
    <table class="table table-consumptions cotable-bordered table-striped table-hover table-condensed scroll-vertical ">
      <thead>
        <tr>
          <th class="">#</th>
          {% for date_h in date_range %}<th>{{ date_h }}</th>{% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for ingredient in ingredients %}
          <tr id="ingredient_num_{{ ingredient.id }}">
            <td>{{ ingredient.name }}</td>
          </tr>
          <script>
            $(function() {
              $.ajax(
                {
                  url:"{% url 'canteen:create_consumption' ingredient.id %}",
                  method: 'GET',
                  success: function(data){
                    $('#ingredient_num_{{ ingredient.id }}').append(data)
                  }
                }
              )
            });

          </script>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    function set_consumptions_table_size(){
      const consumptions_table=$(".table-consumptions")
      const header=$("header")
      const footer=$("footer")
      const height = footer.offset().top-consumptions_table.offset().top - 10
        consumptions_table.parent().height(height)
    }
    $(window).resize(function() {
      set_consumptions_table_size()
    });
    $(document).ready(function() {
      set_consumptions_table_size()
});
  </script>
  <style>
body{
}
.table-container {
  overflow:auto;
}
  label[for='id_amount_used']{
    display: none
  }
  .table thead th {
      position: -webkit-sticky; 
      position: sticky;
      top: 0; 
      background-color: white; 
      z-index: 1020; 
      box-shadow: 0 1px 0 #dee2e6; 
  }

  .table tr > :first-child {
      position: -webkit-sticky; 
      position: sticky;
      left: 0; 
      background-color: white; 
      z-index: 1020; 
      box-shadow: 1px 0 0 #dee2e6; 
  }
  .table thead tr > :first-child {
      z-index: 1020; 
      box-shadow: 1px 1px 0 #dee2e6; 
  }

  </style>
{% endblock %}
