{% extends "base/document.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if email.is_verified %}
    {% trans 'Edit Email' %}
  {% else %}
    {% trans 'Verify Email' %}
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    {% if email.is_verified %}
      {% trans 'Edit Email' %}
    {% else %}
      {% trans 'Verify Email' %}
    {% endif %}
  </h2>
  <form method="post"
        action="{% url 'fnprofile:' %}"
        enctype="multipart/form-data">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit button" class="btn btn-outline-primary">
      {% trans "Update" %}
    </button>
  </form>

{% endblock %}

{% block extra_js %}{% endblock %}
