{% extends "base/document.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans 'My Emails' %}
{% endblock %}

{% block content %}
  <h2>{% trans 'My Emails' %}</h2>
  {% include 'fnprofile/includes/_fnprofile_navigation.html' %}
  <div class="table-container">
    {% if EMAIL_BACKEND and emails %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th>{% trans 'Email Address' %}</th>
              <th>{% trans 'Is Verified' %}</th>
              <th>{% trans 'Verified at' %}</th>
              <th>{% trans 'Is Active' %}</th>
              <th>{% trans 'Is Primary' %}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for email in emails %}
              <tr>
                <td>{{ email.email }}</td>
                <td>{{ email.is_verified_t }}</td>
                <td>{{ email.verified_at }}</td>
                <td>{{ email.is_active_t }}</td>
                <td>{{ email.is_primary_t }}</td>
                <td>{% trans 'Edit' %}|{% trans 'Delete' %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
{% endblock %}
{% block extra_js %}{% endblock %}
