{% spaceless %}
  {% load i18n %}
  {% autoescape off %}
    {% blocktrans with USER_FULL_NAME=USER_FULL_NAME reset_password_url=reset_password_url %}
      Hello! {{ USER_FULL_NAME }},
      You can reset your password by clicking on the following link:
      {{ reset_password_url }}
      (If the link does not redirect after clicking, please copy the entire link into the browser address bar and press Enter.)
      Thank you for using FNSCHOOL!
    {% endblocktrans %}
  {% endautoescape %}
{% endspaceless %}
