{% load i18n %}
<!-- footer.html -->
{% load static %}
<footer class="py-3 bg-dark fixed-bottom">
  <div class="container">
    <p class="m-0 text-center text-white">
      {% trans "Copyleft &copy; FNSCHOOL" %} {% now "Y" %}
    </p>
  </div>
  <div class="container ">
    <p class="m-0 text-start text-white">
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" onchange="this.form.submit()">
          {% get_current_language as CURRENT_LANGUAGE %}
          {% get_available_languages as LANGUAGES %}
          {% for code, name in LANGUAGES %}
            <option value="{{ code }}"
                    {% if code == CURRENT_LANGUAGE %}selected{% endif %}>
              {{ name }}
            </option>
          {% endfor %}
        </select>
      </form>
    </p>
  </div>
</footer>
